<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" lang="">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>HOME PAGE</title>-->
<!--    <link rel="stylesheet" href="../static/style.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <div class="ui-button">-->
<!--       <div><input type="button" onClick="window.location.href='http://localhost:8080/games/'" value="ALL GAMES"></div>-->
<!--    </div>-->
<!--    <div class="ui-button">-->
<!--        <div><input type="button" onClick="window.location.href='http://localhost:8080/games/rpg'" value="RPG GAMES"></div>-->
<!--    </div>-->
<!--    <div class="ui-button">-->
<!--        <div><input type="button" onClick="window.location.href='http://localhost:8080/games/add'" value="ADD GAME"></div>-->
<!--    </div>-->
<!--    <div class="ui-button">-->
<!--        <div><input type="button" onClick="window.location.href='http://localhost:8080/games/delete'" value="DELETE GAME"></div>-->
<!--    </div>-->
<!--</div>-->
<!--    &lt;!&ndash;<a href="http://localhost:8080/games/edit">games edit</a>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->