<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Rpg Games</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container">
    <div class="buttonsContainer">
        <table class="buttonsContainer">
            <tr>
                <div class="ui-button">
                    <div><input type="button" onClick="window.location.href='http://localhost:8080/games'" value="ALL GAMES"></div>
                </div>
                <div class="ui-button">
                    <div><input type="button" onClick="window.location.href='http://localhost:8080/games/add'" value="ADD GAME"></div>
                </div>
                <div class="ui-button">
                    <div><input type="button" onClick="window.location.href='http://localhost:8080/games/delete'" value="DELETE GAME"></div>
                </div>
            </tr>
        </table>
    </div>
    <div class="table">
        <table >
            <tr>
        <!--        <th>ID</th>-->
                <th>NAME</th>
                <th>GENRE</th>
                <th>RENTAL PRICE</th>
                <th>DESCRIPTION</th>
            </tr>
            <tr th:each="game: ${games}">
        <!--        <td th:text="${game.id}"></td>-->
                <td th:text="${game.name}"></td>
                <td th:text="${game.genre}"></td>
                <td th:text="${game.price}"></td>
                <td th:text="${game.description}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
<!--<footer th:insert="links.html"></footer>-->
</html>